	body{
		font-family: arial;
	}
	.image{
		background-image: url("baby1.jpg");
		background-size: cover;
		width:250px;
		height:250px;
		float: left;
		margin-left: .5em;
		margin-bottom: .5em;
		border: 1px solid #000;
		transition-property: width, height;
		transition-duration: 1s;

	}

	@media all and (max-width: 500px) {
		.image{
			border: none;
			width: 100px;
			height: 100px;
		}
	}